<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <title>Map Quiz App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-ajax/dist/leaflet.ajax.min.js"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

</head>
<body>
    <div id="controls">
        <h1>Map Quiz</h1>
        <div id="mode-selection">
            <a class="button-3" href="/">Normal mode</a>
            <a class="button-3" id="back" href="/reversed_quiz">Home</a>
        </div>
        <div id="quiz-selection">
            <h2>Select a Quiz:</h2>
            <ul id="quiz-list">
                <!-- Quiz list populated by server-side rendering -->
                {% for quiz in quizzes %}
                    <li>
                        <button class="button-3" onclick="startQuiz('{{ quiz.file }}')">{{ quiz.name }}</button>
                    </li>
                {% endfor %}
            </ul>
        
        </div> 

            <div id="sources">
                <h3>Map sources</h3>
                <ul>
                  {% for source in sources %}
                    <li><a href="{{ source.url }}" target="_blank">{{ source.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              
        
        
        <div id="quiz-container" style="display:none;">
            <h2 id="quiz-title"></h2>
            <p id="quiz-description" style="display:none;"></p>
            <div id="question-container">
                <h2>Which area is highlighted?</h2>
                <ul id="answer-list" style="max-height: 300px; overflow-y: auto;">
                    <!-- Question list items will be dynamically added here -->
                </ul>
            </div>
            <button class="button-3" id="next" onclick="loadNextQuestion()">Next Question</button>
            <button class="button-3" id="show-answer" onclick="showAnswer()"style="display:none;">Show Answer</button>
            

        </div>
        <div id="score-container" style="display:none;">
            <!-- Score will be displayed here -->
            <div id="score-text">Score: </div>
            <div id="score-passed"><!-- passed questions will be displayed here --> </div>
            <div id="score-text"> / </div>
            <div id="score-total"><!-- Total questions --></div>
        </div>
        <div id="finished-message" style="display:none;">
            <p>Finished!</p>
            <button onclick="window.location.href='{{ url_for('index') }}'">Restart Quiz</button>
        </div>
    </div>
    <div id="map"></div>
    <script src="{{ url_for('static', filename='reversed_scripts.js') }}"></script>
</body>
</html>
